@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --light-grey:#f3f3f3;
  --medium-grey:#d3d1d1;
  --main-yellow:#e5c54f;
}

body{
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
