.radiobut{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.link{
    text-decoration: none;
    font-size: 1.2rem;
    }
    input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
      }
